body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.login-container {
  width: 300px;
  margin: 120px auto;
  padding: 20px;
  background: #1e293b;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 95%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}
